/*BEGIN Xbox 360 Controller Styling*/
.controller.custom {
    background: url(bg.png);
    height: 544px;
    width: 668px;
}

.custom.disconnected {
    background: url(bg.png);
}

.custom.disconnected div {
    display: revert;
}

.custom .triggers {
    width: 213px;
    height: 76px;
    position: absolute;
    left: 232px;
    top: 44px;
}

.custom .trigger {
    width: 33px;
    height: 76px;
    background: url(trigger.png);
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
}

.custom .trigger.right {
    float: right;
    background-position: 0 -77px;
}

.custom .bumpers {
    position: absolute;
    width: 305px;
    height: 0px;
    left: 185px;
    top: 150px;
}

.custom .bumper {
    width: 124px;
    height: 26px;
    background: url(bumper.png);
    opacity: 1;
}

.custom .bumper.pressed {
    opacity: 1;
    background: url(bumper.png);
}

.custom .bumper.left.pressed {
    background-position: 0 -52px;
}

.custom .bumper.right.pressed {
    background-position: 0 -78px;
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    transform: rotateY(0deg);
    background-position: 0 -26px;
}

.custom .quadrant {
    position: absolute;
    background: url(quadrant.png);
    height: 100px;
    width: 100px;
    top: 165px;
    left: 284px;
    z-index: -1;
}

.custom .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.custom .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.custom .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.custom .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom .arrows {
    position: absolute;
    width: 180px;
    height: 29px;
    top: 200px;
    left: 244px;
}

.custom .back, .custom .start {
    background: url(arrow.png);
    width: 34px;
    height: 29px;
}

.custom .back.pressed, .custom .start.pressed {
    background-position: 0 -30px;
}

.custom .back {
    float: left;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom .start {
    float: right;
}

.custom .abxy {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 201px;
    left: 345px
}

.custom .button {
    position: absolute;
    width: 55px;
    height: 55px;
}

.custom .button.a {
    width: 55px;
    height: 55px;
}

.custom .button.y {
    width: 55px;
    height: 55px;
}

.custom .button.pressed {
    background-position: 0 -55px;
    margin-top: 0px;
    opacity: 1;
}

.custom .button.pressed.a {
    background-position: 0 -55px;
}

.custom .button.pressed.y {
    background-position: 0 -55px;
}

.custom .a {
    background: url(a.png);
    top: 110px;
    left: 55px;
}

.custom .b {
    background: url(b.png);
    top: 55px;
    right: 0px;
}

.custom .x {
    background: url(x.png);
    top: 55px;
}

.custom .y {
    background: url(y.png);
    left: 55px;
}

.custom .sticks {
    position: absolute;
    width: 383px;
    height: 208px;
    top: 167px;
    left: 89px;
}

.custom .stick {
    position: absolute;
    background: url(stick.png);
    height: 21px;
    width: 21px;
}

.custom .stick.pressed {
    background-position: 0 -21px;
}

.custom .stick.left {
    top: 106px;
    left: 147px;
}

.custom .stick.right {
    background: none;
    top: calc(100% - 86px);
    left: calc(100% - 86px);
}

.custom .dpad {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 273px;
    left: 174px;
}

.custom .face {
    position: absolute;
    font-size: 30px;
    line-height: 0;
    color: white;
    opacity: 0;
    font-family: 'FontAwesome';
}

.custom .face.pressed {
    opacity: 1;
}

.custom .face.up {
    left: 42px;
    top: 20px;
}

.custom .face.up:after {
    content: "\f062";
}

.custom .face.down {
    left: 42px;
    bottom: 20px;
}

.custom .face.down:after {
    content: "\f063";
}

.custom .face.left {
    top: 56px;
    left: 3px;
}

.custom .face.left:after {
    content: "\f060";
}

.custom .face.right {
    top: 56px;
    right: 3px;
}

.custom .face.right:after {
    content: "\f061";
}

.custom.half {
    margin-top: -272px;
}

/*END Xbox 360 Controller Styling*/
